
    <!-- background: #7abecc !important;
     background-image: url('{% static "" %}');

     margin: 0;
      padding: 0;
      height: 100%;
     
      background: #7abecc !important;
      background-repeat: no-repeat;-->


       background: #f7ba5b !important;